[Desktop Entry]
Version=1.0
Type=Application
Name=Storcli Setting
Comment=set Storcli
Exec=/home/testos/shell/Storcli_Set.sh
Icon=/home/testos/Pictures/Icon/Storcli.png
Terminal=true


